$color-pink: #EEB5B5;
$color-pink-greybackground: #ffc5c5;
$color-pink-whitebackground: #8d6c6c;
$color-background: #f4f4f4;
$color-black: #000000;
$color-white: #fff;
$color-grey: #ccc;
$color-orange-darker: rgb(194, 126, 1);
$color-alt-black: #282828;
$color-case-text: rgb(80, 80, 80);

