$color-pink: #EEB5B5;
$color-background: #f4f4f4;
$color-black: black;
$color-white: #fff;
$color-grey: #ccc;
$color-orange: orange;
$color-alt-black: #282828;
$color-highlight: rgb(48, 56, 180);
$color-highlight: rgb(29, 104, 73);
$color-alt-black: #282828;

