@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)


   should we use this? not importing it right away as it interfered with the variables /T
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: '';
  content: none;
}

q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Roboto", Verdana, sans-serif;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

@media only screen and (min-width: 991px) {
  .container {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}

.text {
  font-family: "Roboto", Verdana, sans-serif;
}

.text--white {
  color: #fff;
}

.text--black {
  color: black;
}

.text--pink {
  color: #EEB5B5;
}

.text--altblack {
  background-color: #282828;
}

.text--white-80 {
  color: #f4f4f4;
}

.text--bold {
  font-weight: bold;
  line-height: 1.5rem;
}

.text--cursive {
  font-style: italic;
}

.text--xl {
  font-size: 72px;
  font-size: 4.5rem;
}

.text--l {
  font-size: 34px;
  font-size: 2.125rem;
}

@media only screen and (min-width: 768px) {
  .text--l {
    font-size: 54px;
    font-size: 3.375rem;
    line-height: 60px;
  }
}

.text--m {
  font-size: 48px;
  font-size: 3rem;
}

.text--s {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
}

@media only screen and (min-width: 768px) {
  .text--s {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 42px;
  }
}

.text--xs {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
}

.text--xxs {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Unna", Georgia, serif;
}

h1 {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 55px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
    font-size: 4.5rem;
    line-height: 72px;
  }
}

h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 64px;
    font-size: 4rem;
    line-height: 74px;
  }
}

h3 {
  font-size: 48px;
  font-size: 3rem;
}

h4 {
  font-size: 36px;
  font-size: 2.25rem;
}

h5 {
  font-size: 24px;
  font-size: 1.5rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

.primary {
  font-family: "Roboto", Verdana, sans-serif;
}

.primary--xl {
  font-size: 64px;
  font-size: 4rem;
  line-height: 1.2rem;
}

.primary--l {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.2rem;
}

.primary--m {
  font-size: 44px;
  line-height: 1.2rem;
}

.primary--s {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.2rem;
}

.primary--xs {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.primary--xxs {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.pageheader--primary {
  font-size: 64px;
  font-size: 4rem;
  font-family: "Roboto", Verdana, sans-serif;
  line-height: 0.8rem;
}

.pageheader_text {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Roboto", Verdana, sans-serif;
  font-weight: bold;
  line-height: 2.4rem;
}

.button {
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 4px;
  text-align: center;
  border-style: solid;
  font-family: "Roboto", Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: black;
  cursor: pointer;
}

.button--pink {
  background-color: #EEB5B5;
  border-color: #EEB5B5;
}

.button--pink:hover {
  background: black;
  color: #fff;
}

.button--black {
  color: #fff;
  font-family: "Roboto", Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  border-style: solid;
  letter-spacing: 0.1rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  background-color: black;
  border-color: black;
}

.button--black:hover {
  background: #EEB5B5;
<<<<<<< HEAD
  color: black;
=======
  color: #fff;
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
}

.button--large {
  padding: 16px 30px;
}

@media only screen and (min-width: 768px) {
  .button--large {
    padding: 22px 90px;
  }
}

.button--if-pressed {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
  color: #282828;
}

.radiobutton--interactive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", Verdana, sans-serif;
  border-radius: 100px;
  padding: 1rem;
  margin: 0%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radiobutton--interactive .rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.radiobutton--interactive .rad-design {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, right bottom, from(#f4f4f4), to(black));
  background: linear-gradient(to right bottom, #f4f4f4, black);
  position: relative;
}

.radiobutton--interactive .rad-design::before {
  content: "";
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #e6e6e6;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radiobutton--interactive .rad-input:checked + .rad-design::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.radiobutton--interactive .rad-text {
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radiobutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", Verdana, sans-serif;
  border-radius: 100px;
  padding: 1rem;
  margin: 0%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radiobutton .rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #f4f4f4;
  position: relative;
}

.rad-design--black {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: black;
  position: relative;
}

.rad-design_outline--white {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: none;
  border-style: solid;
  border-color: #f4f4f4;
  position: relative;
}

.rad-design_outline {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: none;
  border-style: solid;
  border-color: black;
  position: relative;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #282828;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #282828;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #282828;
}

::placeholder {
  opacity: 1;
  color: #282828;
}

.link {
  font-weight: bold;
  font-family: "Roboto", Verdana, sans-serif;
}

.link--black {
  color: #282828;
}

.link--white {
  color: #fff;
}

.link--clicked {
  color: #fff;
  font-style: italic;
}

.link--pink {
  color: #EEB5B5;
}

.link:hover {
  color: #EEB5B5;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 85px;
  }
}

.header__logo {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Unna", Georgia, serif;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .header__logo {
    font-size: 45px;
    font-size: 2.8125rem;
    color: #fff;
  }
}

.header--transparent {
  background: transparent;
}

@media only screen and (max-width: 768px) {
  .header--transparent .logo--white {
    display: none;
  }
}

.header--modified {
  border-bottom: none;
  background: #fff;
  height: 74px;
}

@media only screen and (min-width: 768px) {
  .header--modified {
    background: transparent;
    height: 85px;
  }
}

.header--modified .logo--black {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header--modified .logo--black {
    display: none;
  }
}

.header--modified.fade-in {
  background: #fff;
}

.header--modified.fade-in a {
  color: black;
}

.header--modified.fade-in a:hover {
  color: #EEB5B5;
}

.header--modified.fade-in .logo--white {
  display: none;
}

.header--modified.fade-in .logo--black {
  display: block;
}

.header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}

.main-menu:before {
  content: "";
  height: 1px;
  width: 100%;
  background: #ccc;
  display: block;
}

@media only screen and (min-width: 768px) {
  .main-menu:before {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu a {
    color: #fff;
  }
}

.main-menu a.is-active {
  color: #EEB5B5;
}

.main-menu li:first-child {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .main-menu li:first-child {
    margin-top: 0;
  }
}

.main-menu.menu-opened {
  width: 100%;
  display: block;
  height: calc(100vh - 74px);
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 74px;
  background: #fff;
  padding: 30px 20px;
}

@media only screen and (min-width: 768px) {
  .main-menu.menu-opened {
    display: none;
  }
}

.main-menu.menu-opened li {
  display: block;
  margin-bottom: 20px;
}

.main-menu.menu-opened a {
  font-size: 38px;
  font-size: 2.375rem;
  display: block;
  color: black;
  text-transform: capitalize;
  padding: 25px 0;
}

@media only screen and (min-width: 768px) {
  .main-menu.menu-opened a {
    padding: 25px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-menu li {
  margin: 0;
  display: inline-block;
  position: relative;
  line-height: 0;
}

@media only screen and (min-width: 768px) {
  .main-menu li {
    margin: 0 40px 0 0;
  }
}

.menu-toggle {
  background: none;
  border: none;
  width: 30px;
  height: 23px;
  cursor: pointer;
  display: block;
  outline: none;
  position: absolute;
  right: 30px;
  top: 32px;
  padding: 0;
}

.menu-toggle.menu-open span {
  background: transparent;
}

.menu-toggle.menu-open span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-toggle.menu-open span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle span {
  position: absolute;
  right: 0;
  top: 7px;
  height: 3px;
  background: black;
  width: 100%;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.menu-toggle span:before {
  content: "";
  top: -7px;
  height: 3px;
  background: black;
  position: absolute;
  width: 100%;
  right: 0;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.menu-toggle span:after {
  content: "";
  bottom: -7px;
  height: 3px;
  background: black;
  position: absolute;
  width: 100%;
  right: 0;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.menu-toggle.fade-in-nav span:before {
  background: black;
}

.menu-toggle.fade-in-nav span:after {
  background: black;
}

.hero__wrap {
  position: relative;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  background-image: url(../sass/img/hero-wrapper.jpg);
}

.hero__wrap.hero__about {
  background-image: url(../sass/img/Accessibility.png);
}

@media only screen and (min-width: 768px) {
  .hero__wrap {
    min-height: 600px;
    padding: 0 20px;
  }
}

.hero__wrap:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__wrap.hero__contact {
  background-image: url(../sass/img/hero-contact.png);
}

@media only screen and (min-width: 768px) {
  .hero__wrap.hero__contact {
    min-height: 600px;
    padding: 0 20px;
  }
}

.hero__wrap.hero__contact:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__info {
  position: relative;
  width: 100%;
  padding: 40px 0 0;
}

@media only screen and (min-width: 991px) {
  .hero__info {
    width: 80%;
  }
}

.hero__info h1 {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .hero__info h1 {
    margin-bottom: 30px;
  }
}

.hero__info p {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .hero__info p {
    margin-bottom: 40px;
  }
}

body {
  background-color: #f4f4f4;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 3rem;
}

.formsection {
  height: 100vh;
  background-color: #EEB5B5;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact--h2 {
  margin-top: 5%;
  font-weight: bold;
}

.contact__form {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form legend p {
  margin-bottom: 5%;
}

.inputWrapper {
  position: relative;
  display: block;
  min-width: 800px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
  z-index: 10;
  margin-bottom: 18px;
}

.inputWrapper select {
  font-weight: bold;
  font-family: "Roboto", Verdana, sans-serif;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  min-width: 80%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 18px;
  color: #282828;
}

.inputWrapper:after {
  position: absolute;
  right: 0;
  top: 2px;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: '\2228';
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.userinput {
  min-width: 800px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 12px 55px 15px 15px;
  margin: 0 auto;
  background-color: #f4f4f4;
  z-index: 10;
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem;
  border-color: #EEB5B5;
  border-style: solid;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #282828;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #282828;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #282828;
}

::placeholder {
  opacity: 1;
  color: #282828;
}

.txtuserinput {
  min-width: 800px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 12px 55px 15px 15px;
  margin: 0 auto;
  background-color: #f4f4f4;
  z-index: 10;
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem;
  border-color: #EEB5B5;
  border-style: solid;
}

#submit--contactform {
  max-width: 200px;
  min-width: 140px;
  padding: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.picture-info {
  background-color: black;
}

.googlemap {
  width: 100%;
}

.black__box--about {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.black__box--about h2 {
  color: #fff;
  margin: 20px;
}

.black__box--about h2 span {
  color: #EEB5B5;
}

.black__box--about img {
  width: 100%;
  height: auto;
}

.black__box--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .black__box--about div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.black__box--about div .info--about {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (min-width: 768px) {
  .black__box--about div .info--about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.black__box--about div .info--about h3 {
  color: #fff;
}

.black__box--about div .info--about p {
  color: #fff;
  margin: 20px 0px;
}

.black__box--about div .statistic--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background: #fff;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .black__box--about div .statistic--about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.black__box--about div .statistic--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.black__box--about div .statistic--about div .fas {
  margin: 20px 0px;
}

.black__box--about div .statistic--about div p {
  color: orange;
  margin: 10px 0px;
}

.pink__box--about {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EEB5B5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .pink__box--about {
    margin-top: 50px;
    padding: 0px 30px;
  }
}

.pink__box--about h3 {
  margin: 20px 0px;
}

.pink__box--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .pink__box--about div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pink__box--about div .card {
  height: 400px;
  width: 80%;
  margin: 20px;
  cursor: pointer;
}

.pink__box--about div .card h4 {
  position: absolute;
  bottom: 20px;
  opacity: 0;
}

.pink__box--about div .card .card--inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.pink__box--about div .card .card--inner .card--front {
  background: black;
  border-radius: 12px;
  overflow: hidden;
}

.pink__box--about div .card .card--inner .card--front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pink__box--about div .card .card--inner .card--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: white;
  overflow: hidden;
  border-radius: 12px;
}

.pink__box--about div .card .card--inner .card--front,
.pink__box--about div .card .card--inner .card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pink__box--about div .card:hover img {
  opacity: 0.4;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.pink__box--about div .card:hover h4 {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.pink__box--about div .card .flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
<<<<<<< HEAD
=======

.homepage__info {
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .homepage__info {
    padding: 60px 0;
  }
}

.homepage__slider {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .homepage__slider {
    margin: 30px 0;
  }
}

.homepage__slider__info {
  padding: 30px 20px;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .homepage__slider__info {
    max-width: 50%;
    margin: 0 auto;
    padding: 30px 0;
  }
}

.homepage__slider__info p {
  margin-bottom: 20px;
}

.homepage__slider__info blockquote {
  margin-bottom: 20px;
  font-family: "Unna", Georgia, serif;
}

.homepage__slider .glide__bullets {
  text-align: center;
  padding: 0 0 30px;
}

.homepage__slider .glide__bullets button {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.homepage__slider .glide__bullets button.glide__bullet--active {
  background: #EEB5B5;
}

.homepage__features {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .homepage__features {
    margin-top: 30px;
  }
}

.homepage__features a {
  position: relative;
  display: block;
}

.homepage__features .developer {
  zoom: 1.8;
  position: relative;
  margin-top: 40px;
}

.homepage__features .developer .laptop-animation {
  -webkit-animation: laptopAnimation 0.5s ease-in-out both;
          animation: laptopAnimation 0.5s ease-in-out both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.homepage__features .developer .laptop-animation,
.homepage__features .developer .laptop-parent {
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
}

@-webkit-keyframes laptopAnimation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-85deg);
            transform: rotateX(-85deg);
  }
}

@keyframes laptopAnimation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-85deg);
            transform: rotateX(-85deg);
  }
}

.homepage__features .folder {
  zoom: 0.4;
  -webkit-perspective: 165px;
          perspective: 165px;
  width: 165px;
  height: 140px;
  background: #e48c8c;
  position: absolute;
  top: 86%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-top-right-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

@media only screen and (min-width: 768px) {
  .homepage__features .folder {
    zoom: 0.7;
    top: 80%;
  }
}

.homepage__features .folder::before {
  content: "";
  width: 40px;
  height: 10px;
  background: #e48c8c;
  position: absolute;
  top: -10px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.homepage__features .folder::after {
  width: 176px;
  height: 120px;
  left: -3px;
  position: absolute;
  content: "";
  background: #e79898;
  top: 25px;
  -webkit-box-shadow: 0 0 20px 2px fade(black, 30%);
          box-shadow: 0 0 20px 2px fade(black, 30%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.homepage__features .folder-inside {
  width: 147px;
  height: 100px;
  position: absolute;
  background: #fff;
  top: 15px;
  left: 14px;
  padding-top: 15px;
  -webkit-box-shadow: 0 0 5px 5px fade(black, 5%);
          box-shadow: 0 0 5px 5px fade(black, 5%);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  border: 1px solid #ccc;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.homepage__feature {
  height: 100%;
  position: relative;
  text-align: center;
  border-radius: 0;
  min-height: 470px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .homepage__feature {
    min-height: 650px;
    border-radius: 4px;
  }
}

.homepage__feature h2 {
  margin-bottom: 20px;
  position: relative;
}

.homepage__feature p {
  position: relative;
}

.homepage__feature:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.homepage__feature:hover:before {
  background-color: rgba(0, 0, 0, 0.8);
}

.homepage__feature:hover .folder {
  -webkit-transform: translate(-50%, -52%);
          transform: translate(-50%, -52%);
}

.homepage__feature:hover .folder::after {
  -webkit-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
}

.homepage__feature:hover .folder .folder-inside {
  -webkit-transform: rotate(-7deg) translateY(-55%);
          transform: rotate(-7deg) translateY(-55%);
}

.homepage__feature--cases {
  background-image: url("../sass/img/cases-wrapper-homepage.jpg");
}

.homepage__feature--about {
  background-image: url("../sass/img/about-wrapper-homepage.jpeg");
}

.homepage__feature--about:hover .laptop-animation {
  -webkit-animation: laptoprotationin 0.5s ease-in-out both;
          animation: laptoprotationin 0.5s ease-in-out both;
}

.homepage__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media only screen and (min-width: 991px) {
  .homepage__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
  }
}

.homepage__services li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}

@media only screen and (min-width: 991px) {
  .homepage__services li {
    width: 33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }
}

.homepage__services__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 300px;
  background: #EEB5B5;
  border-radius: 100%;
}

.homepage__services__cover img {
  height: 200px;
}

.homepage__services__info {
  margin-top: 30px;
}

.homepage__services__info h4 {
  margin-bottom: 20px;
}

body {
  background-color: #f4f4f4;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 3rem;
}

.formsection {
  height: 100vh;
  background-color: #EEB5B5;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact--h2 {
  margin-top: 5%;
  font-weight: bold;
}

.contact__form {
  margin: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form legend p {
  margin: 2%;
}

.inputWrapper {
  position: relative;
  display: block;
  max-width: 800px;
  min-width: 100px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0 auto;
  background-color: #f4f4f4;
  z-index: 10;
}

.inputWrapper select {
  font-weight: bold;
  font-family: "Roboto", Verdana, sans-serif;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 12px 55px 15px 15px;
  font-size: 18px;
  color: #282828;
}

.inputWrapper:after {
  position: absolute;
  right: 0;
  top: 2px;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: '\2228';
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.userinput {
  max-width: 800px;
  min-width: 100px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 12px 55px 15px 15px;
  margin: 0 auto;
  background-color: #f4f4f4;
  z-index: 10;
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 1rem;
}

#submit--contactform {
  max-width: 200px;
}

.freetxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.black__box--about {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.black__box--about h2 {
  color: #fff;
  margin: 20px;
}

.black__box--about h2 span {
  color: #EEB5B5;
}

.black__box--about img {
  width: 100%;
  height: auto;
}

.black__box--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .black__box--about div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.black__box--about div .info--about {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (min-width: 768px) {
  .black__box--about div .info--about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.black__box--about div .info--about h3 {
  color: #fff;
}

.black__box--about div .info--about p {
  color: #fff;
  margin: 20px 0px;
}

.black__box--about div .statistic--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background: #fff;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .black__box--about div .statistic--about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.black__box--about div .statistic--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.black__box--about div .statistic--about div .fas {
  margin: 20px 0px;
}

.black__box--about div .statistic--about div p {
  color: orange;
  margin: 10px 0px;
}

.pink__box--about {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EEB5B5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .pink__box--about {
    margin-top: 50px;
    padding: 0px 30px;
  }
}

.pink__box--about h3 {
  margin: 20px 0px;
}

.pink__box--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .pink__box--about div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pink__box--about div .card {
  height: 400px;
  width: 80%;
  margin: 20px;
  cursor: pointer;
}

.pink__box--about div .card h4 {
  position: absolute;
  bottom: 20px;
  opacity: 0;
}

.pink__box--about div .card .card--inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.pink__box--about div .card .card--inner .card--front {
  background: black;
  border-radius: 12px;
  overflow: hidden;
}

.pink__box--about div .card .card--inner .card--front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pink__box--about div .card .card--inner .card--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: white;
  overflow: hidden;
  border-radius: 12px;
}

.pink__box--about div .card .card--inner .card--front,
.pink__box--about div .card .card--inner .card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pink__box--about div .card:hover img {
  opacity: 0.4;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.pink__box--about div .card:hover h4 {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.pink__box--about div .card .flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.footer-container {
  height: 80px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container .footer-object {
  font-family: "Unna", Georgia, serif;
  background-color: black;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
/*# sourceMappingURL=styles.css.map */