@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)


   should we use this? not importing it right away as it interfered with the variables /T
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after {
  content: '';
  content: none;
}

q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Roboto", Verdana, sans-serif;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}

@media only screen and (min-width: 991px) {
  .container {
    max-width: 1200px;
  }
}

a {
  text-decoration: none;
}

:focus {
  outline: 0;
}

.text {
  font-family: "Roboto", Verdana, sans-serif;
}

.text--white {
  color: #fff;
}

.text--black {
  color: #000000;
}

.text--pink {
  color: #EEB5B5;
}

.text--darker-pink {
  color: #8d6c6c;
}

.text--altblack {
  background-color: #282828;
}

.text--white-80 {
  color: #f4f4f4;
}

.text--bold {
  font-weight: bold;
}

.text--cursive {
  font-style: italic;
}

.text--xl {
  font-size: 72px;
  font-size: 4.5rem;
}

.text--l {
  font-size: 34px;
  font-size: 2.125rem;
}

@media only screen and (min-width: 768px) {
  .text--l {
    font-size: 54px;
    font-size: 3.375rem;
    line-height: 60px;
  }
}

.text--m {
  font-size: 48px;
  font-size: 3rem;
}

.text--s {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
}

@media only screen and (min-width: 768px) {
  .text--s {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 42px;
  }
}

.text--xs {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .text--xs {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 30px;
  }
}

.text--xxs {
  font-size: 16px;
  font-size: 1rem;
  line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Unna", Georgia, serif;
}

h1 {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 55px;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
    font-size: 4.5rem;
    line-height: 72px;
  }
}

h2 {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
}

@media only screen and (min-width: 768px) {
  h2 {
    font-size: 64px;
    font-size: 4rem;
    line-height: 74px;
  }
}

h3 {
  font-size: 48px;
  font-size: 3rem;
}

h4 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
}

@media only screen and (min-width: 768px) {
  h4 {
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 42px;
  }
}

h5 {
  font-size: 24px;
  font-size: 1.5rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

.button {
  font-size: 18px;
  font-size: 1.125rem;
  display: inline-block;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 4px;
  text-align: center;
  border-style: solid;
  font-family: "Roboto", Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #000000;
  cursor: pointer;
  height: 50px;
}

.button--pink {
  background-color: #EEB5B5;
  border-color: #EEB5B5;
}

.button--pink:hover {
  background: #000000;
  color: #fff;
}

.button--black {
  color: #fff;
  font-family: "Roboto", Verdana, sans-serif;
  background-color: #000000;
  border-color: #000000;
}

.button--black:hover {
  background: #ffc5c5;
  color: #000000;
}

.button--large {
  padding: 16px 30px;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .button--large {
    padding: 22px 90px;
    height: 62px;
  }
}

.userinput_button {
  width: 100%;
  padding: 12px 55px 15px 15px;
  margin: 0 auto;
  background-color: #f4f4f4;
  z-index: 10;
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  border-color: #EEB5B5;
  border-style: solid;
}

.link {
  font-weight: bold;
  font-family: "Roboto", Verdana, sans-serif;
}

.link--black {
  color: #282828;
}

.link--white {
  color: #fff;
}

.link--clicked {
  color: #fff;
  font-style: italic;
}

.link--pink {
  color: #EEB5B5;
}

.link:hover {
  color: #EEB5B5;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 768px) {
  .header {
    height: 85px;
  }
}

.header__logo {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Unna", Georgia, serif;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .header__logo {
    font-size: 45px;
    font-size: 2.8125rem;
    color: #fff;
  }
}

.header--transparent {
  background: transparent;
}

@media only screen and (max-width: 768px) {
  .header--transparent .logo--white {
    display: none;
  }
}

.header--modified {
  border-bottom: none;
  background: #fff;
  height: 74px;
}

@media only screen and (min-width: 768px) {
  .header--modified {
    background: transparent;
    height: 85px;
  }
}

.header--modified .logo--black {
  display: block;
}

@media only screen and (min-width: 768px) {
  .header--modified .logo--black {
    display: none;
  }
}

.header--modified.fade-in {
  background: #fff;
}

.header--modified.fade-in a {
  color: #000000;
}

.header--modified.fade-in a.is-active {
  color: #8d6c6c;
}

.header--modified.fade-in a:hover {
  color: #EEB5B5;
}

.header--modified.fade-in .logo--white {
  display: none;
}

.header--modified.fade-in .logo--black {
  display: block;
}

.header__nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
}

.main-menu:before {
  content: "";
  height: 1px;
  width: 100%;
  background: #ccc;
  display: block;
}

@media only screen and (min-width: 768px) {
  .main-menu:before {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu a {
    color: #fff;
  }
}

.main-menu a.is-active {
  color: #ffc5c5;
}

.main-menu li:first-child {
  margin-top: 30px;
}

@media only screen and (min-width: 768px) {
  .main-menu li:first-child {
    margin-top: 0;
  }
}

.main-menu.menu-opened {
  width: 100%;
  display: block;
  height: calc(100vh - 74px);
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
  top: 74px;
  background: #fff;
  padding: 30px 20px;
}

@media only screen and (min-width: 768px) {
  .main-menu.menu-opened {
    display: none;
  }
}

.main-menu.menu-opened li {
  display: block;
  margin-bottom: 20px;
}

.main-menu.menu-opened a {
  font-size: 38px;
  font-size: 2.375rem;
  display: block;
  color: #000000;
  text-transform: capitalize;
  padding: 25px 0;
}

@media only screen and (min-width: 768px) {
  .main-menu.menu-opened a {
    padding: 25px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-menu li {
  margin: 0;
  display: inline-block;
  position: relative;
  line-height: 0;
}

@media only screen and (min-width: 768px) {
  .main-menu li {
    margin: 0 40px 0 0;
  }
}

.hero__wrap {
  position: relative;
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  background-image: url(../sass/img/hero-wrapper.jpg);
}

.hero__wrap.hero__about {
  background-image: url(../sass/img/Accessibility.png);
}

@media only screen and (min-width: 768px) {
  .hero__wrap {
    min-height: 600px;
    padding: 0 20px;
  }
}

.hero__wrap:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__wrap.hero__cases {
  background-image: url(../sass/img/cases.jpeg);
}

@media only screen and (min-width: 768px) {
  .hero__wrap {
    min-height: 600px;
    padding: 0 20px;
  }
}

.hero__wrap:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__wrap.hero__contact {
  background-image: url(../sass/img/hero-contact.png);
}

@media only screen and (min-width: 768px) {
  .hero__wrap.hero__contact {
    min-height: 600px;
    padding: 0 20px;
  }
}

.hero__wrap.hero__contact:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero__info {
  position: relative;
  width: 100%;
  padding: 40px 0 0;
}

@media only screen and (min-width: 991px) {
  .hero__info {
    width: 80%;
  }
}

.hero__info h1 {
  margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .hero__info h1 {
    margin-bottom: 30px;
  }
}

.hero__info p {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .hero__info p {
    margin-bottom: 40px;
  }
}

.menu-toggle {
  background: none;
  border: none;
  width: 30px;
  height: 23px;
  cursor: pointer;
  display: block;
  outline: none;
  position: absolute;
  right: 30px;
  top: 32px;
  padding: 0;
}

.menu-toggle.menu-open span {
  background: transparent;
}

.menu-toggle.menu-open span:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-toggle.menu-open span:after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle span {
  position: absolute;
  right: 0;
  top: 7px;
  height: 3px;
  background: #000000;
  width: 100%;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.menu-toggle span:before {
  content: "";
  top: -7px;
  height: 3px;
  background: #000000;
  position: absolute;
  width: 100%;
  right: 0;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.menu-toggle span:after {
  content: "";
  bottom: -7px;
  height: 3px;
  background: #000000;
  position: absolute;
  width: 100%;
  right: 0;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}

.menu-toggle.fade-in-nav span:before {
  background: #000000;
}

.menu-toggle.fade-in-nav span:after {
  background: #000000;
}

body {
  background-color: #f4f4f4;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0rem;
}

@media only screen and (min-width: 768px) {
  .contact__main {
    padding: 2rem;
  }
}

.formsection {
  background-color: #EEB5B5;
  width: 100%;
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
  .formsection {
    margin-bottom: 2rem;
  }
}

.formsection p.text {
  margin: 20px 0 30px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

.inputWrapper {
  position: relative;
  display: block;
  background-color: #f4f4f4;
  z-index: 2;
  width: 100%;
  cursor: pointer;
}

.inputWrapper select {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Roboto", Verdana, sans-serif;
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  display: block;
  min-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 15px;
  color: #282828;
  cursor: pointer;
}

.inputWrapper:after {
  font-size: 24px;
  font-size: 1.5rem;
  position: absolute;
  background: transparent;
  right: 0;
  top: 2px;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: "\2228";
  text-align: center;
  font-weight: bold;
  pointer-events: none;
}

.inputs {
  width: 100%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inputs label {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.inputs .userinput {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .inputs {
    letter-spacing: 0.01rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inputs label {
    min-width: 12%;
    text-align: left;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1290px) {
  .inputs {
    letter-spacing: 0.02rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inputs label {
    min-width: 10%;
    text-align: left;
    padding-right: 20px;
  }
}

.input-column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-column label {
  min-width: 10%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .input-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .input-column label {
    min-width: 10%;
    text-align: flex-start;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .input-column label {
    padding-right: 34px;
  }
}

.txtuserinput {
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  padding: 15px;
  background-color: #f4f4f4;
  z-index: 2;
  border-radius: 5px;
  font-family: "Roboto", Verdana, sans-serif;
  font-weight: bold;
  border-color: #EEB5B5;
  border-style: solid;
}

#submit--contactform {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 200px;
  min-width: 140px;
  padding: 15px;
  text-align: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-top: 1rem;
}

#log {
  padding-top: 1rem;
}

.picture-info-map {
  width: 100%;
}

.picture-info {
  background-color: #000000;
}

.picture-info img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 600px) {
  .picture-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 0rem;
    margin-top: 0%;
    width: 100%;
  }
  .picture-info img {
    width: 50%;
  }
}

@media only screen and (min-width: 991px) {
  .picture-info {
    max-height: 300px;
  }
  .picture-info img {
    width: 70%;
  }
}

.contactdetails__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem;
}

@media only screen and (min-width: 991px) {
  .contactdetails__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contactdetails__div .contactdetails__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.contactdetails__div p {
  margin-left: 1rem;
}

@media only screen and (min-width: 600px) {
  .contactdetails__div {
    margin: 1rem;
  }
}

.contactdetails__div .contacticon1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.googlemap {
  width: 100%;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .googlemap {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 991px) {
  .googlemap {
    height: 400px;
  }
}

.black__box--about {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.black__box--about h2 {
  color: #fff;
  margin: 20px;
}

.black__box--about h2 span {
  color: #EEB5B5;
}

.black__box--about img {
  width: 100%;
  height: auto;
}

.black__box--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .black__box--about div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.black__box--about div .info--about {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media only screen and (min-width: 768px) {
  .black__box--about div .info--about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.black__box--about div .info--about h3 {
  color: #fff;
}

.black__box--about div .info--about p {
  color: #fff;
  margin: 20px 0px;
}

.black__box--about div .statistic--about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background: #fff;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .black__box--about div .statistic--about {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.black__box--about div .statistic--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.black__box--about div .statistic--about div .fas {
  margin: 20px 0px;
}

.black__box--about div .statistic--about div p {
  color: #c27e01;
  margin: 10px 0px;
}

.pink__box--about {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #EEB5B5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .pink__box--about {
    margin-top: 50px;
    padding: 0px 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.pink__box--about h3 {
  margin: 20px 0px;
}

.pink__box--about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .pink__box--about div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pink__box--about div .card {
  height: 400px;
  width: 85%;
  margin: 20px;
  cursor: pointer;
}

.pink__box--about div .card .card--inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.pink__box--about div .card .card--inner .card--front {
  position: relative;
  background: #000000;
  border-radius: 12px;
  overflow: hidden;
}

.pink__box--about div .card .card--inner .card--front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pink__box--about div .card .card--inner .card--front h4 {
  position: absolute;
  bottom: 20px;
  opacity: 0;
}

.pink__box--about div .card .card--inner .card--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: #fff;
  overflow: hidden;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pink__box--about div .card .card--inner .card--back h4 {
  width: 80%;
  margin: 50px 0px;
}

.pink__box--about div .card .card--inner .card--back p {
  width: 80%;
}

.pink__box--about div .card .card--inner .card--front,
.pink__box--about div .card .card--inner .card--back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.pink__box--about div .card:hover .card--front img {
  opacity: 0.4;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.pink__box--about div .card:hover .card--front h4 {
  opacity: 1;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.pink__box--about div .card .flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.this-is-palt {
  font-family: "Unna", Georgia, serif;
  text-transform: uppercase;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 48px;
}

@media only screen and (min-width: 768px) {
  .this-is-palt {
    font-size: 64px;
    font-size: 4rem;
    line-height: 74px;
  }
}

.homepage__info {
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .homepage__info {
    padding: 60px 0;
  }
}

.homepage__slider {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .homepage__slider {
    margin: 30px 0;
  }
}

.homepage__slider__info {
  padding: 30px 20px;
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  .homepage__slider__info {
    max-width: 50%;
    margin: 0 auto;
    padding: 30px 0;
  }
}

.homepage__slider__info p {
  margin-bottom: 20px;
  margin-top: 20px;
}

.homepage__slider__info blockquote {
  margin-bottom: 20px;
  font-family: "Unna", Georgia, serif;
}

.homepage__slider .glide__bullets {
  text-align: center;
  padding: 0 0 30px;
}

.homepage__slider .glide__bullets button {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.homepage__slider .glide__bullets button.glide__bullet--active {
  background: #EEB5B5;
}

.homepage__features {
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .homepage__features {
    margin-top: 30px;
  }
}

.homepage__features a {
  position: relative;
  display: block;
}

.homepage__features .developer {
  zoom: 1.8;
  position: relative;
  margin-top: 40px;
}

.homepage__features .developer__laptop {
  position: absolute;
  left: 0;
  display: inline-block;
}

.homepage__features .developer .laptop-animation {
  -webkit-animation: laptopAnimation 0.5s ease-in-out both;
          animation: laptopAnimation 0.5s ease-in-out both;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}

.homepage__features .developer .laptop-animation,
.homepage__features .developer .laptop-parent {
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
}

@-webkit-keyframes laptopAnimation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-85deg);
            transform: rotateX(-85deg);
  }
}

@keyframes laptopAnimation {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-85deg);
            transform: rotateX(-85deg);
  }
}

.homepage__features .folder {
  zoom: 0.4;
  -webkit-perspective: 165px;
          perspective: 165px;
  width: 165px;
  height: 140px;
  background: #e48c8c;
  position: absolute;
  top: 86%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-top-right-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

@media only screen and (min-width: 768px) {
  .homepage__features .folder {
    zoom: 0.7;
    top: 80%;
  }
}

.homepage__features .folder::before {
  content: "";
  width: 40px;
  height: 10px;
  background: #e48c8c;
  position: absolute;
  top: -10px;
  left: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.homepage__features .folder::after {
  width: 176px;
  height: 120px;
  left: -3px;
  position: absolute;
  content: "";
  background: #e79898;
  top: 25px;
  -webkit-box-shadow: 0 0 20px 2px fade(#000000, 30%);
          box-shadow: 0 0 20px 2px fade(#000000, 30%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.homepage__features .folder-inside {
  width: 147px;
  height: 100px;
  position: absolute;
  background: #fff;
  top: 15px;
  left: 14px;
  padding-top: 15px;
  -webkit-box-shadow: 0 0 5px 5px fade(#000000, 5%);
          box-shadow: 0 0 5px 5px fade(#000000, 5%);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  border: 1px solid #ccc;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.homepage__feature {
  height: 100%;
  position: relative;
  text-align: center;
  border-radius: 0;
  min-height: 470px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .homepage__feature {
    min-height: 650px;
    border-radius: 4px;
  }
}

.homepage__feature h2 {
  margin-bottom: 20px;
  position: relative;
}

.homepage__feature p {
  position: relative;
}

.homepage__feature:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.homepage__feature:hover:before {
  background-color: rgba(0, 0, 0, 0.8);
}

.homepage__feature:hover .folder {
  -webkit-transform: translate(-50%, -52%);
          transform: translate(-50%, -52%);
}

.homepage__feature:hover .folder::after {
  -webkit-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
}

.homepage__feature:hover .folder .folder-inside {
  -webkit-transform: rotate(-7deg) translateY(-55%);
          transform: rotate(-7deg) translateY(-55%);
}

.homepage__feature--cases {
  background-image: url("../sass/img/cases-wrapper-homepage.jpg");
}

.homepage__feature--about {
  background-image: url("../sass/img/about-wrapper-homepage.jpeg");
}

.homepage__feature--about:hover .laptop-animation {
  -webkit-animation: laptoprotationin 0.5s ease-in-out both;
          animation: laptoprotationin 0.5s ease-in-out both;
}

.homepage__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media only screen and (min-width: 991px) {
  .homepage__services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
  }
}

.homepage__services li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}

@media only screen and (min-width: 991px) {
  .homepage__services li {
    width: 33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }
}

.homepage__services__cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 300px;
  background: #EEB5B5;
  border-radius: 100%;
}

.homepage__services__cover img {
  height: 200px;
}

.homepage__services__info {
  margin-top: 30px;
}

.homepage__services__info h4 {
  margin-bottom: 20px;
}

.footer {
  background-color: #EEB5B5;
  margin-top: 0;
}

@media only screen and (min-width: 991px) {
  .footer {
    margin-top: 50px;
  }
}

.footer--black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
  padding: 20px;
}

@media only screen and (min-width: 991px) {
  .footer--black {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 200px;
    padding: 0 20px;
  }
}

.footer-container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

@media only screen and (min-width: 991px) {
  .footer-container1 {
    padding: 0 20px;
  }
}

.footer-container1 .footer-content {
  height: inherit;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 991px) {
  .footer-container1 .footer-content {
    height: 180px;
  }
}

.footer-container1 .footer-content .form-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

@media only screen and (min-width: 991px) {
  .footer-container1 .footer-content .form-object {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-container1 .footer-content .form-object input[type="email"] {
  margin-bottom: 20px;
}

@media only screen and (min-width: 991px) {
  .footer-container1 .footer-content .form-object input[type="email"] {
    margin: 0;
  }
}

.footer-container1 .footer-content .form-object button {
  width: 100%;
  margin-left: 0;
}

@media only screen and (min-width: 991px) {
  .footer-container1 .footer-content .form-object button {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 991px) {
  .footer-container1 .footer-content .form-object input#name {
    margin-right: 20px;
  }
}

.footer-container1 .footer-content .form-object label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media only screen and (min-width: 991px) {
  .footer-container1 .footer-content .form-object label {
    margin-left: 0;
    text-align: right;
  }
}

.footer-container2 {
  background-color: #000000;
}

.footer-container2 .footer-object1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer-container2 .footer-object1 p {
  display: block;
  padding: 2px;
}

.footer-container2 .footer-object2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer-container2 .footer-object2 a {
  color: #fff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 5px;
}

.footer-container2 .footer-object2 .icon-div {
  display: inline-block;
}

.footer-container2 .footer-object2 .icon-div a:hover {
  color: #EEB5B5;
}

.footer-container2 .footer-object2 .icon-div a i {
  padding: 3px;
  height: 100%;
  font-size: 30px;
  font-size: 1.875rem;
}

@media only screen and (min-width: 991px) {
  .footer-container2 .footer-object2 .icon-div a i {
    font-size: 40px;
    font-size: 2.5rem;
  }
}

.footer-container2 .footer-object3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer-container2 .footer-object3 a {
  display: block;
  width: auto;
}

@media only screen and (min-width: 991px) {
  .footer-container2 .footer-object3 a {
    width: 80px;
  }
}

.hero__wrap.hero__cases {
  background-image: url(../sass/img/cases.jpeg);
}

.container-inner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0 50px 0;
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-inner-flex .case-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-inner-flex a {
  -webkit-transition: all ease-in-out 0.9s;
  transition: all ease-in-out 0.9s;
}

.container-inner-flex .case-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 280px;
  width: 280px;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.404);
  background-blend-mode: saturation;
  background-position: center;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 768px) {
  .container-inner-flex .case-picture {
    width: 400px;
    height: 300px;
  }
}

.container-inner-flex .case-picture:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.container-inner-flex .case-picture h2 {
  font-family: "Roboto", Verdana, sans-serif;
}

.case-picture.spotify {
  background-image: url(../sass/img/Spotify.jpeg);
}

.case-picture.hm {
  background-image: url(../sass/img/H&M.jpeg);
}

.case-picture.telenor {
  background-image: url(../sass/img/telenor.png);
}

.case-picture.ica-banken {
  background-image: url(../sass/img/ica-bankkort.png);
}

.case-picture.tv4 {
  background-image: url(../sass/img/se-tv4-play-utomlands.jpeg);
}

.case-picture.volvo {
  background-image: url(../sass/img/Volvo.webp);
}

.case-picture.nackademin {
  background-image: url(../sass/img/Nackademin.jpeg);
}

.container-inner-flex .case-picture.ukk {
  background-image: url(../sass/img/Om-UKK_Arkitekturen.jpeg);
}

.case-text {
  height: 90px;
  width: 280px;
}

@media only screen and (min-width: 768px) {
  .case-text {
    width: 400px;
  }
}

.case-text h3 {
  font-family: "Roboto", Verdana, sans-serif;
}

.case-text p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #505050;
}

.userinput {
  width: 100%;
  padding: 15px;
  background-color: #f4f4f4;
  z-index: 2;
  font-family: "Roboto", Verdana, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-color: #EEB5B5;
  border-style: solid;
  height: 50px;
  border-radius: 5px;
}
/*# sourceMappingURL=styles.css.map */