//paragraph texts

.text {
  font-family: $font-primary;
  &--white {
    color: $color-white;
  }

  &--black {
    color: $color-black;
  }

  &--pink {
    color: $color-pink;
  }
  &--darker-pink {
    color: $color-pink-whitebackground;
  }

  &--altblack {
    background-color: $color-alt-black;
  }

  &--white-80 {
    color: $color-background;
  }

  &--bold {
    font-weight: bold;
  }

  &--cursive {
    font-style: italic;
  }

  &--xl {
    @include font-size(72);
  }

  &--l {
    @include font-size(34);
    @include breakpoint(small-max) {
      @include font-size(54);
      line-height: 60px;
    }
  }
  &--m {
    @include font-size(48);
  }
  &--s {
    @include font-size(22);
    line-height: 28px;
    @include breakpoint(small-max) {
      @include font-size(36);
      line-height: 42px;
    }
  }

  &--xs {
    @include font-size(18);
    line-height: 22px;
    @include breakpoint(small-max) {
      @include font-size(24);
      line-height: 30px;
    }
  }
  &--xxs {
    @include font-size(16);
    line-height: 25px;
  }
}
