@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//main fonts:
$headerfont: "Unna", Georgia, serif;
$primaryfont: "Roboto", Verdana, sans-serif;

//paragraph texts
.header-text {
  font-family: $headerfont;
}
.text {
  font-family: $primaryfont;
}
.txt {
  &--white {
    color: $color-white;
  }

  &--black {
    color: $color-black;
  }

  &--pink {
    color: $color-pink;
  }

  &--altblack {
    color: $color-alt-black;
  }

  &--white-80 {
    color: $color-background;
  }

  &--bold {
  font-weight: bold;
  line-height: 1.5rem;
  }

  &--cursive{
    font-style: italic;
  }
}

.center {
  text-align: center;
}


//a-elements
.link {
  font-weight: bold;
  font-family: $primaryfont;

  &--black {
    color: $color-alt-black;
  }
  &--white {
    color: $color-background;
  }
  &--clicked {
    color: $color-white;
    font-style: italic;
  }
  &--pink {
    color: $color-pink;
  }
}
