.black__box--about {
  height: max-content;
  background: $color-black;
  @include flexBox(column, center, center);
  margin-top: 50px;

  h2 {
    color: $color-white;
    margin: 20px;
    span {
      color: $color-pink;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  div {
    @include flexBox(column, center, center);
    @include breakpoint(small-max) {
      @include flexBox(row, center, center);
    }
    .info--about {
      flex-basis: 40%;
      @include flexBox(column, center, center);
      margin: 30px;
      order: 2;
      @include breakpoint(small-max) {
        order: 1;
      }
      h3 {
        color: $color-white;
      }
      p {
        color: $color-white;
        margin: 20px 0px;
      }
    }
    .statistic--about {
      @include flexBox(row, center, space-around);
      flex-basis: 40%;
      background: $color-white;
      order: 1;
      border-radius: 5px;
      @include breakpoint(small-max) {
        order: 2;
      }
      div {
        @include flexBox(column, center, center);
        .fas {
          margin: 20px 0px;
        }
        p {
          color: $color-orange-darker;
          margin: 10px 0px;
        }
      }
    }
  }
}
.pink__box--about {
  height: max-content;
  @include flexBox(column, center, center);
  background: $color-pink;
  box-sizing: border-box;
  margin-bottom: 50px;
  @include breakpoint(small-max) {
    margin-top: 50px;
    padding: 0px 30px;
    flex-wrap: wrap;
  }
  h3 {
    margin: 20px 0px;
  }
  div {
    @include flexBox(column, center, center);
    width: 100%;

    @include breakpoint(small-max) {
      @include flexBox(row, center, center);
    }
    .card {
      height: 400px;
      width: 85%;
      margin: 20px;
      cursor: pointer;
      .card--inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.8s;
        transform-style: preserve-3d;
        .card--front {
          position: relative;
          background: $color-black;
          border-radius: $card-radius;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          h4{
            position: absolute;
            bottom: 20px;
            opacity: 0;
          }
        }
        .card--back {
          transform: rotateY(180deg);
          background: $color-white;
          overflow: hidden;
          border-radius: $card-radius;
          @include flexBox(column, center, flex-start);
          h4{
            width: 80%;
            margin: 50px 0px;
          }
          p{
            width: 80%;
          }
        }
        .card--front,
        .card--back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
        }
      }
      &:hover .card--front{
        img {
          opacity: 0.4;
          transition: 500ms;
        }
        h4 {
          opacity: 1;
          transition: 500ms;
        }
      }
      .flipped {
        transform: rotateY(180deg);
      }
    }
  }
}

.this-is-palt{
  font-family: $font-secondary;
  text-transform: uppercase;
  @include font-size(40);
   line-height: 48px;
     @include breakpoint(small-max){
         @include font-size(64);
     line-height: 74px;
 }}