body{
  background-color: $color-background;
}
.contact__main{
  display: flex;
<<<<<<< HEAD
  flex-direction:column;
=======
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding:3rem;
}
.formsection{
  height: 100vh; 
  background-color: $color-pink;
  width:80%;
  display: flex;
  flex-direction: column;
}
.contact--h2{
margin-top:5%;
font-weight: bold;
}
.contact__form{
  margin:5%;
  legend p{
<<<<<<< HEAD
    margin-bottom:5%; 
=======
    margin:2%; 
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
  }
  display: flex;
  flex-direction: column;
}
<<<<<<< HEAD
//Need to check mobilefirst here before continuing!
.inputWrapper{
  position: relative;
  display: block;
  min-width: 800px;
=======
//Need to check mobilefirst here before continuing
.inputWrapper{
  position: relative;
  display: block;
  max-width: 800px;
  min-width: 100px;
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
  flex-basis:100%;
  margin: 0 auto;
  background-color: $color-background;
  z-index: 10;
<<<<<<< HEAD
  margin-bottom: 18px;

  //media querie- bredd!!
=======
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
   
  select{
    font-weight: bold;
    font-family:$font-primary;
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
<<<<<<< HEAD
    min-width:80%;
    flex-basis:100%;
=======
    width: 100%;
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
    padding: 12px 55px 15px 15px;
    font-size: 18px;
    color: $color-alt-black;
  }
  &:after{
    position: absolute;
    right: 0;
    top: 2px;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: '\2228';
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
}

.userinput{
<<<<<<< HEAD
  min-width: 800px;
=======
  max-width: 800px;
  min-width: 100px;
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
  flex-basis: 100%;
  padding: 12px 55px 15px 15px;
  margin: 0 auto;
  background-color: $color-background;
  z-index: 10;
  font-family: $font-primary;
  font-size: 18px;
  font-weight:bold;
  margin:1rem;
<<<<<<< HEAD
  border-color: $color-pink;
  border-style:solid;
//media querie- bredd!!
}

::placeholder {
  opacity:1;
  color: $color-alt-black;
}

.txtuserinput{
  min-width: 800px;
  flex-basis: 100%;
  padding: 12px 55px 15px 15px;
  margin: 0 auto;
  background-color: $color-background;
  z-index: 10;
  font-family: $font-primary;
  font-size: 18px;
  font-weight:bold;
  margin:1rem;
  border-color: $color-pink;
  border-style:solid;
//media querie- bredd!!
}

// .freetxt{
//   display:flex;
//   flex-direction:row;
//   align-items: flex-start;
//   span{
//     margin-top:1rem;
//   }
// }

#submit--contactform{
  max-width:200px;
  min-width:140px;
  padding: 15px;
  text-align: center;
  display:flex;
  align-self:center;
  flex-basis:100%;
}

.picture-info{
  background-color: $color-black;
}
.googlemap{
  width:100%;
=======
  //just for checking: color:blue;
}

#submit--contactform{
  max-width:200px;
}

.freetxt{
  display:flex;
  flex-direction:row;
  align-items: flex-start;
>>>>>>> 4b1cb9c89f7471601a94be3814b7a40c298002ce
}