.footer {
  background-color: $color-pink;
  margin-top: 0;
  @include breakpoint(medium-tablet-max) {
   margin-top: 50px;
  }
}
.footer-container1 {
  @include flexBox(row, flex-start, center);
  padding: 20px;
  @include breakpoint(medium-tablet-max) {
    padding: 0 20px;
  }
  .footer-content {
    height: inherit;
    flex-basis: 100%;
    @include flexBox(column, flex-start, center);
    @include breakpoint(medium-tablet-max) {
      height: 180px;
    }

    .form-object {
      @include flexBox(column, flex-start, space-between);
      width: 100%;
      margin-top: 20px;
      @include breakpoint(medium-tablet-max) {
        @include flexBox(row, flex-start, center);
        margin-top: 0;
      }
      input[type="email"] {
        margin: 20px 0 20px 0;
        @include breakpoint(medium-tablet-max) {
          margin: 0 0 0 10px;
        }
      }

      button {
        width: 100%;
        margin-left: 0;
        @include breakpoint(medium-tablet-max) {
          margin-left: 10px;
        }
      }
      label {
        display: none;
      }
    }
  }
}
.footer-container2 {
  @include flexBox(row, center, flex-start);
  height: 200px;
  background-color: $color-black;

  .footer-object1 {
    @include flexBox(column, center, flex-start);
    text-align: left;
    flex-basis: 100%;
    p {
      display: block;
      width: 150px;
      padding: 2px;
    }
  }
  .footer-object2 {
    @include flexBox(column, center, flex-start);
    flex-basis: 100%;
    a {
      color: $color-white;
      text-decoration-line: underline;
      margin-bottom: 5px;
    }
    .icon-div {
      display: inline-block;
      a {
        &:hover {
          color: $color-pink;
        }
        i {
          padding: 3px;
          height: 100%;
        }
      }
    }
  }
  .footer-object3 {
    @include flexBox(column, center, flex-start);
    flex-basis: 100%;
    a {
      display: block;
      width: 80px;
    }
  }
}
