//Hero
.hero {
  &__wrap {
    position: relative;
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    
    //Homepage background image	
    background-image: url(../sass/img/hero-wrapper.jpg);
	  
    //About background image	  
    &.hero__about{
	 background-image: url(../sass/img/Accessibility.png);
    }  
    @include breakpoint(small-max) {
      min-height: 600px;
	  padding: 0 20px;
    }
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color-black, 0.5);
    }

    //Cases background image	  
    &.hero__cases{
      background-image: url(../sass/img/cases.jpeg);
       }  
       @include breakpoint(small-max) {
         min-height: 600px;
       padding: 0 20px;
       }
       &:before {
         content: " ";
         position: absolute;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         background-color: rgba($color-black, 0.5);
       }
   


    
  //Contact background image
    &.hero__contact{
      background-image: url(../sass/img/hero-contact.png);
      @include breakpoint(small-max) {
        min-height: 600px;
      padding: 0 20px;
      }
      &:before {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-black, 0.5);
      }
    }
  }
  &__info {
    position: relative;
    width: 100%;
    padding: 40px 0 0;

    @include breakpoint(medium-tablet-max) {
      width: 80%;
    }

    h1 {
      margin-bottom: 25px;
      @include breakpoint(small-max) {
        margin-bottom: 30px;
      }
    }

    p {
      margin-bottom: 30px;
      @include breakpoint(small-max) {
        margin-bottom: 40px;
      }
    }
  }
}

