.homepage {
  &__features {
    margin-top: 30px;

    a {
      position: relative;
      display: block;
    }

    .folder {
      zoom: 0.7;
      perspective: 165px;
      width: 165px;
      height: 140px;
      background: darken($color-pink, 10%);
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-top-right-radius: 5px;
      cursor: pointer;
      transition: all 400ms ease;
      &::before {
        content: "";
        width: 40px;
        height: 10px;
        background: darken($color-pink, 10%);
        position: absolute;
        top: -10px;
        left: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &::after {
        width: 176px;
        height: 120px;
        left: -3px;
        position: absolute;
        content: "";
        background: darken($color-pink, 7%);
        top: 25px;
        box-shadow: 0 0 20px 2px fade($color-black, 30%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
      }
      &-inside {
        width: 147px;
        height: 100px;
        position: absolute;
        background: $color-white;
        top: 15px;
        left: 14px;
        padding-top: 15px;
        box-shadow: 0 0 5px 5px fade($color-black, 5%);
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
        border: 1px solid $color-grey;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
      }
    }
  }
  &__feature {
    height: 100%;
    position: relative;
    text-align: center;
    border-radius: 4px;
    min-height: 650px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    @include flexBox(column, center, center);

    h2 {
      margin-bottom: 20px;
      position: relative;
    }

    p {
      position: relative;
    }

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($color-black, 0.5);
    }
    &:hover {
      &:before {
        background-color: rgba($color-black, 0.8);
      }
      .folder {
        transform: translate(-50%, -52%);

        &::after {
          transform: rotateX(-15deg);
        }
        .folder-inside {
          transform: rotate(-7deg) translateY(-55%);
        }
      }
    }

    //Cases block wrapper
    &--cases {
      background-image: url("../sass/img/cases-wrapper-homepage.jpg");
    }

    //About block wrapper
    &--about {
      background-image: url("../sass/img/about-wrapper-homepage.jpeg");
    }
  }
}
