//Header sizes Unna typeface
h1, h2, h3, h4, h5, h6 {
font-family: $font-secondary;
}
h1 {
    @include font-size(50);
    line-height: 55px;
    @include breakpoint(small-max){
        @include font-size(72);
		line-height: 72px;
    }
}

h2 {
    @include font-size(40);
	line-height: 48px;
    @include breakpoint(small-max){
        @include font-size(64);
		line-height: 74px;
    }
}

h3 {
    @include font-size(48);
}

h4 {
    @include font-size(22);
    line-height: 28px;
    @include breakpoint(small-max) {
      @include font-size(36);
      line-height: 42px;
    }
}

h5 {
     @include font-size(24);
}

h6 {
    @include font-size(16);
}