//Header sizes Unna typeface
.header {
  &--xl {
    @include font-size(72);
    font-family: $headerfont;
    line-height: 1.2rem;
  }

  &--l {
    @include font-size(54);
    font-family: $headerfont;
    line-height: 1.2rem;
  }
  &--m {
    @include font-size(48);
    font-family: $headerfont;
    line-height: 1.2rem;
  }
  &--s {
    @include font-size(36);
    font-family: $headerfont;
    line-height: 1.2rem;
  }

  &--xs {
    @include font-size(24);
    font-family: $headerfont;
    line-height: 1.4rem;
  }
  &--xxs {
    @include font-size(16);
    font-family: $headerfont;
    line-height: 1.2rem;
  }
}

//primary font in different sizes:
.primary {
  font-family: $primaryfont;

  &--xl {
    @include font-size(64);
    line-height: 1.2rem;
  }
  &--l {
    @include font-size(50);
    line-height: 1.2rem;
  }
  &--m {
    font-size: 44px;
    line-height: 1.2rem;
  }
  &--s {
    @include font-size(36);
    line-height: 1.2rem;
  }
  &--xs {
    @include font-size(24);
    line-height: 1.8rem;
  }
  &--xxs {
    @include font-size(16);
    line-height: 1.5rem;
  }
}

//pageheader (consists of pageheader-logo + pageheader-primary and then pageheader-text
.pageheader--logo {
  @include font-size(72);
  font-family: $headerfont;
  text-transform: uppercase;
  line-height: 1rem;
}
.pageheader--primary {
  @include font-size(64);
  font-family: $primaryfont;
  line-height: 0.8rem;
}
.pageheader_text {
  @include font-size(36);
  font-family: $primaryfont;
  font-weight: bold;
  line-height: 2.4rem;
}
.logo {
  font-size: 2rem;
  font-weight: 800;
  font-family: $headerfont;
  text-transform: uppercase;
}
