//Header sizes Unna typeface

h1, h2, h3, h4, h5, h6 {
font-family: $font-secondary;
}
h1 {
    @include font-size(50);
    line-height: 55px;
    @include breakpoint(small-max){
        @include font-size(72);
		line-height: 72px;
    }
}

h2 {
    @include font-size(64);
}

h3 {
    @include font-size(48);
}

h4 {
    @include font-size(36);
}

h5 {
     @include font-size(24);
}

h6 {
    @include font-size(16);
}









//primary font in different sizes:
.primary {
  font-family: $font-primary;

  &--xl {
    @include font-size(64);
    line-height: 1.2rem;
  }
  &--l {
    @include font-size(50);
    line-height: 1.2rem;
  }
  &--m {
    font-size: 44px;
    line-height: 1.2rem;
  }
  &--s {
    @include font-size(36);
    line-height: 1.2rem;
  }
  &--xs {
    @include font-size(24);
    line-height: 1.8rem;
  }
  &--xxs {
    @include font-size(16);
    line-height: 1.5rem;
  }
}

//pageheader (consists of pageheader-logo + pageheader-primary and then pageheader-text

.pageheader--primary {
  @include font-size(64);
  font-family: $font-primary;
  line-height: 0.8rem;
}
.pageheader_text {
  @include font-size(36);
  font-family: $font-primary;
  font-weight: bold;
  line-height: 2.4rem;
}
